<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="container">
  <h1>Registro de autores</h1>
  <form [formGroup]="form"(submit)="aceptar()">
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Código</mat-label>
      <input matInput placeholder="Código" formControlName="id">
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="nameAuthor">
    </mat-form-field>

    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email@gmail.com" formControlName="emailAuthor">
    </mat-form-field>


    <br>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName='birthDateAuthor' [max]="maxFecha">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h1>{{mensaje}}</h1>

    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/authors">Cancelar</button>


  </form>
  </div>
</body>
</html>
