<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div style="text-align: center;"></div>
      <h1>Registrar Tipo de Datos</h1>
  </div>
  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field class="example-full-width">
      <mat-label>Código</mat-label>
      <input matInput required placeholder ="Codigo" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput required placeholder ="Nombre" formControlName="nombre">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput required placeholder ="Descripcion" formControlName="descripcion">
    </mat-form-field>
    <br>
    <div style="text-align: center;">
      <button class="btA"  mat-raised-button-color="primary">Aceptar</button>
      <button class="btC" mat-raised-button-color="warn" routerLink="/Tipos_de_caso">Cancelar</button>
    <br>
    </div>
    <p>{{mensaje}}</p>
  </form>

</body>
</html>
