<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cemoCrud/src/assets/estilo.css">
    <title>Document</title>
</head>
<body>
  <div class="Cuerpo">
    <h1>REGISTRO DE AYUDA Y DONACIONES RECIBIDAS</h1>
    <div class="line1">
        <div class="caja1">
            <h4>NUTRI H</h4>
            <p>Por favor, considera hacer una donación para apoyar a las personas afectadas por los huaycos. Tu contribución puede marcar una gran diferencia en la vida de aquellos que han perdido tanto. ¡Únete a NUTRI H en esta importante tarea!</p>
        </div>
        <div class="caja2">
            <h4>CEDEPAS NORTE</h4>
            <p>Únete a CEDEPAS NORTE en su labor humanitaria de ayuda y apoyo a las personas damnificadas por los huaycos. Tu donación será de gran ayuda para proporcionar alimentos, refugio y otros suministros necesarios.</p>
        </div>
        <div class="caja3">
            <h4>INDECI</h4>
            <p>El Instituto Nacional de Defensa Civil (INDECI) está trabajando arduamente para proporcionar ayuda a las personas afectadas por los huaycos. Considera hacer una donación para ayudar en esta importante tarea de reconstrucción y recuperación.</p>
        </div>

    </div>
    <div class="line2">

        <div class="caja1">
            <h4>DEFENSORÍA DEL PUEBLO</h4>
            <p>La Defensoría del Pueblo está trabajando incansablemente para proteger los derechos de las personas afectadas por los huaycos. Haz una donación para apoyar sus esfuerzos y ayudar a las personas a reconstruir sus vidas.</p>
        </div>
        <div class="caja2">
            <h4>POLICIA NACIONAL DEL PERÚ</h4>
            <p>La Policía Nacional del Perú está trabajando en estrecha colaboración con otras organizaciones para proporcionar ayuda y seguridad a las personas afectadas por los huaycos. Considera hacer una donación para ayudar en esta tarea crucial.</p>
        </div>
        <div class="caja3">
            <h4>COLEGIO NUESTRA SEÑORA DE LA MERCED</h4>
            <p>El Colegio Nuestra Señora de la Merced se ha unido a la causa de ayudar a las personas afectadas por los huaycos. Haz una donación para apoyar su labor humanitaria y ayudar a las personas a recuperarse de esta tragedia.</p>
        </div>
    </div>
</div>
</body>
</html>
