<div class="navegador">
  <ul>
<img src="/cemoCrud/src/app/interfaz/logoSOS.png" width="30" height="30">
<button mat-button routerLink=""><li><strong>HuaycoSOS</strong></li></button>
<button mat-button routerLink="/Damnificados"><li>Damnificado</li></button>
<button mat-button routerLink="/Donadores"><li>Donador</li></button>
<button mat-button routerLink="/cuentabancarias"><li>Cuenta Bancaria</li></button>
<button mat-button routerLink="/Tipos_de_caso"><li>Tipo de Caso</li></button>
<button mat-button routerLink="/Ubicaciones"><li>Ubicación</li></button>
</ul>
